## Fundamental data types

### Coding lecture

#### Declarying a new variable

Python has the following primitive (a.k.a. fundamental) data types:

|Type       |Example            |
|:----:     |:----:             |
|`int`      |5                  |
|`float`    |1.4                |
|`complex`  |2 + 3j             |
|`bool`     |True or False      |
|`str`      |'this is a string!'|

Creating a variable only requires declaring it and assigning a value:

In [25]:
# First python command! And yes, this is a comment, exactly as in R
x = 5

The variable `x` is now an `int` and contains the value `5`. We can check the type of any variable with the function `type()`

In [26]:
type(x)

int

The function `print()` is often quite useful for inspecting the content of a variable

In [27]:
print(x)

5

Alternatively, in a Jupyter lab you can just write the name of the variable and execute the code block

In [28]:
x

5

Once the variable `x` is created, it can point to any type of value. This is why python is considered a *dynamically typed* language

In [29]:
# changing the value x is pointing to
x = 3 + 2j

We see that now `x` is a complex number, with value `3 + 2j`

In [30]:
type(x)

complex

In [31]:
print(x)

(3+2j)

Of course, multiple variables can be declared at once

In [32]:
x = 5
y = 3.2
z = 2 + 1j
exampl_str = 'Hello World!'

A special type of primitive value is `None`, which indicates that a variable is not carrying any specific information

In [33]:
x = None
print(x)

None

Finally, while R natively supports vectors, i.e., collection of values of the same type, this is not the case for Python. We will see later that

#### Primitive data types as objects


One key point that distinguishes python from R is that:

***

In python, everything is an object

***

This means that even primitive variables can have *attributes* and *methods*. For example, the variable `z` has the following attributes, identifying its real and complex part

In [34]:
z = 2 + 1j

In [35]:
z.real

2.0

In [36]:
z.imag

1.0

Another example: the `float` variable `y` has a method to determine whether it can be considered an integer or not:

In [37]:
y = 3.2
y.is_integer()

False

In [38]:
y = 3.0
y.is_integer()

True

The key distinction between methods and attributes is that methods are functions that algorithmically produce an output, starting from the status of the object and possibly an external input. Attributes are characteristics of the object, whose values can be retrieved and possibly set.

#### Operators

The most direct way to manipulate fundamental data types is through *operators*. Different types of operators exist, including *arithmetic*, *logical*, *comparison*, and *assignment*.

Arithmetic operator largely works as in R:

In [39]:
x = 2.5
y = 3
(x + 2) / (y - x) * 3

27.0

The *floor division*, *modulus*, and *exponentiation* arithmetic operators have slightly different syntax with respect to their R counterpart:

In [40]:
print(5 // 2) # floor division
print(5 % 2) # modulus
print(5 ** 2) # exponentiation

2
1
25

Logical operators combine together Boolean values, following the rules explained in Week 2:

In [41]:
print(True and False) # logical "and", true only if both values are true
print(True or False) # logical "or", true if at least one values is true
print(not True) # logical negation, it inverts the Boolean value

False
True
False

Comparison operators evaluate relationships between objects:

In [42]:
print(2 > 3) # "greater" operator. "greater or equal" (>=) can also be used
print(2 <= 4) # "less or equal" operator. "less" (<) can also be used
print(3 == 3) # "equal to" operator. 
print(4 != 3) # "not equal to" operator.

False
True
True
True

Finally, assignment operators provide syntatic shortcuts for some common operation:

In [43]:
x = 5
x += 1 # equivalent to x = x + 1
print(x)
x *= 2 # equivalent to x = x * 2
print(x)
# and so on for "/=", "**=", etc.

6
12

We will see a single operator for strings, the `+` symbol, which concatenates two `str` objects.

In [44]:
print('Hello' + ' ' + 'World!')

Hello World!

Non `str` object should be coerced to `str` before being concatenated

In [45]:
print('There is only ' + str(1) + ' line of code in this notebook cell!')

There is only 1 line of code in this notebook cell!

Note: Python has some additional operators not present in R, particularly *identity*, *membership* and *bitewise* operators. While the latter type is outside the scope of this course, we will see how to use identity and membership operators later in the course.