## The pandas package

### Coding lecture

reading data from file, subsetting data frame (inlcuding selecting only specific type of columns, setting a specific element to a value), adding a categorical column derived by exercise, data frame's methods: box plot, summarize, groupby,  impute all missing values, apply, tabular data

#### Why to use pandas?

The pandas package provides data frames, and data frames allow a rich representation of tabular data. Columns in a data frame can be of different type, while rows and columns indices permit to subset and split the data in a variety of way. Although quite reductive, you can think of a data frame as a transposition of a spreadsheet within Python. Even more importantly, pandas offers a large number of functionalities for exploring and manipulating data contained in data frames. We will explore some of these functionalities below; for a more complete overview and for reference, please check the [official documentation](https://pandas.pydata.org/docs/).

#### Using pandas

In this module, for learning pandas, we bring you to... space! We will analyze data from a fictitious experiments, where sugar consumption level during exercise is measured on several subjects *while being on different planets* ðŸ˜Š. 

Let's see if changes in the gravitational pull can really affect how fast you burn blood glucose! For this example, we are going to have 5 subjects. Subjects had their level of LDL cholesterol as well as sugar consuption measured, and the objective is understand how these two quantities change depending on your level of exercise and the planet you are currently on.

In [36]:
# importing pandas
import pandas as pd

# creating our first data frame
df = pd.DataFrame(
    data = {
    'LDL_levels':[117.0843482, 106.2958199, 122.0645822, 90.3214571, 112.4369152],
    'Planet':['Earth','Earth','Earth', 'Venus', 'Venus'],
    'Exercise':[35.22546468, 86.11829872, 75.44053885, 76.98685069, 60.21331603],
    'Sugar_consumption':[33.07422821, 35.76640029, 30.14053194, 30.92974665, 34.51534541]
    }, 
    index = ['Patient_1', 'Patient_2', 'Patient_3', 'Patient_782', 'Patient_783']
)

# visualizing the data frame
df

             LDL_levels Planet   Exercise  Sugar_consumption
Patient_1    117.084348  Earth  35.225465          33.074228
Patient_2    106.295820  Earth  86.118299          35.766400
Patient_3    122.064582  Earth  75.440539          30.140532
Patient_782   90.321457  Venus  76.986851          30.929747
Patient_783  112.436915  Venus  60.213316          34.515345

There is quite a lot to unpack here, so let's go in order. 

We provided two arguments to the `pd.DataFrame` function, one is `data` and the other `index`. 

The `data` argument receives a dictionary; recall that each item of a dictionary is composed of a *key* and a *value*. The keys become the names of the column; the values are lists of elements that become the columns of the data frame. It is important that the each of these lists have the same number of elements (five in this case). 

The `index` argument provides the names for the rows of the data frame.

Finally, we visualize the data frame by simply typing its name, `df`, and we obtain a nicely formatted output. Using `print(df)` actually provides a plainer visualization. 

In the output we can observe how the data frame is organized: we have a name for each row, and these names do *not* form an additional column, their are a index and are separated from the columns. Each column has a name, and importantly, *each column can be of a different type*. In our example, the Planet column is a list of string, while the other columns are numerical.

Great! We have created our first data frame and we have explored its structure. Small problem: we have *1500* samples in total! Hard-coding 1500 values for each of our 4 measurements is a bit overwhelming, not to mention that the code will look quite jammed.

Luckily, pandas offers several functions for reading data *directly from file*. We will use the `read_csv` function for importing the data from the *DATA_FSB_SET_3_mod.csv* file. For the ones that have never worked with comma-separated value (csv) files before, these files are textual files where commas are used for separating values across different columns, as in the example below:

```
Individual,LDL_levels,Planet,Exercise,Sugar_consumption
Patient_1,117.0843482,Earth,35.22546468,33.07422821
Patient_2,106.2958199,Earth,86.11829872,35.76640029
Patient_3,122.0645822,Earth,75.44053885,30.14053194
Patient_782,90.3214571,Venus,76.98685069,30.92974665
Patient_783,112.4369152,Venus,60.21331603,34.51534541
```

In [37]:
# reading our data frame with read_csvimport numpy as np
df = pd.read_csv('../R/r-data/DATA_FSB_SET_3.csv', index_col = 'Individual')

# showing the data frame
df

              LDL_levels Planet     Planet2   Exercise  Sugar_Consumption
Individual
Patient_1     117.084348  Earth       Earth  35.225465          33.074228
Patient_2     106.295820  Earth       Earth  86.118299          35.766400
Patient_3     122.064582  Earth       Earth  75.440539          30.140532
Patient_4     126.171853  Earth       Earth  39.336172          30.966869
Patient_5     132.882935  Earth       Earth  23.614529          39.043881
...                  ...    ...         ...        ...                ...
Patient_1496   90.586941  Venus  Venus_moon  70.696798          25.965687
Patient_1497   67.401280  Venus  Venus_moon  97.889474          37.641569
Patient_1498  120.891409  Venus  Venus_moon  20.061231          43.162917
Patient_1499   77.996389  Venus  Venus_moon  75.662184          31.704016
Patient_1500   94.978406  Venus  Venus_moon  35.330030          35.495333

[1500 rows x 5 columns]

The whole data frame is finally loaded. Since it is a large file, the visualization shows the first and last 5 rows, while the ellipses in the middle indicates that more rows where left out. Notice that we indicated the first column in the file to contain the index, i.e., the row names.

Let's explore these data, starting from how we can select portion of them

In [16]:
# selecting a single column
df.Planet

Individual
Patient_1       Earth
Patient_2       Earth
Patient_3       Earth
Patient_4       Earth
Patient_5       Earth
                ...
Patient_1496    Venus
Patient_1497    Venus
Patient_1498    Venus
Patient_1499    Venus
Patient_1500    Venus
Name: Planet, Length: 1500, dtype: object

In [38]:
# selecting a single column, second method
df['Planet']

Individual
Patient_1       Earth
Patient_2       Earth
Patient_3       Earth
Patient_4       Earth
Patient_5       Earth
                ...
Patient_1496    Venus
Patient_1497    Venus
Patient_1498    Venus
Patient_1499    Venus
Patient_1500    Venus
Name: Planet, Length: 1500, dtype: object

Both commands above retrieve a single column from the data frame. This small example already showcases an important concept: *often there are several ways to obtain the same results when working with pandas*. Depending on the circumstances and your coding style, you will choose the solution that best suits you.

What type of object is a data frame column? Let's find out!

In [39]:
# the type of a single column...
type(df.LDL_levels)

pandas.core.series.Series

In [40]:
# the actual engine hiding under the hood...
type(df.LDL_levels.values)

numpy.ndarray

Each column of a data frame is a `Series` object. These objects are very interesting per se, with a number of useful methods, however we will not have the time to explore them in details during this course. Interested readers can find out more in pandas [official documentation](https://pandas.pydata.org/docs/).

What it is of interest here for us is that the package NumPy is the real powerhorse behind pandas. Series objects are based on NumPy arrays, and this explain their speed and versatility.

How can we subset a portion of the data frame, for example from the 5th to the 10th rows and from the 2nd to 4th column? We can use the `iloc` mechanisms.

In [22]:
# subsetting the data frame with iloc
df.iloc[4:10, 2:5]

           Planet2    Exercise  Sugar_Consumption
Individual
Patient_5    Earth   23.614529          39.043881
Patient_6    Earth    1.198628         286.614008
Patient_7    Earth   15.899816          43.889773
Patient_8    Earth   28.657403          44.986136
Patient_9    Earth   42.636719          37.364243
Patient_10   Earth  104.057855          40.324452

Subsetting in Python seems similar to its equivalent in R, but with some noticeable differences:
- You must use the `iloc` instruction. Typing `df[4:10, 1:4]`, as you would do in R, leads to an exception.
- Indices in Python starts from zero. Thus, the 5th row has 4 as a index, the 6th has 5, and so on. Same logic for the columns.
- The slice `4:10` is translated to [4, 5, 6, 7, 8, 9], i.e., the last number is omitted.

The `iloc` mechanism only works when you subset on the basis rows and columns indices. If you want to subset using rows and columns names, then the `loc` mechanism is the way to go.

In [24]:
# subsetting using row and column names
rs = ['Patient_1', 'Patient_2']
cs = ['Exercise', 'Sugar_Consumption']
df.loc[rs, cs]

             Exercise  Sugar_Consumption
Individual
Patient_1   35.225465          33.074228
Patient_2   86.118299          35.766400

The `loc` mechanism also allows to use logical vectors for selecting portions of a data frame.

In [25]:
# let's select only the rows where sugar consumption is above 200
idx = df['Sugar_Consumption'] > 200
idx
df.loc[idx, ]

              LDL_levels Planet     Planet2  Exercise  Sugar_Consumption
Individual
Patient_6     152.185939  Earth       Earth  1.198628         286.614008
Patient_95    155.726779  Earth       Earth  1.350736         259.380105
Patient_186   141.225017  Earth       Earth  1.077019         309.699533
Patient_448   159.392405  Earth       Earth  0.182044        1679.358706
Patient_538   165.577934  Earth       Earth  1.520243         234.193831
Patient_548   160.912259  Earth       Earth  1.212457         277.634511
Patient_809   149.057433  Venus       Venus  0.647880         483.979589
Patient_931   136.778379  Venus       Venus  0.121556        2494.292378
Patient_1319  132.482512  Venus  Venus_moon  0.914282         350.601316
Patient_1486  139.669070  Venus  Venus_moon  1.229823         269.748737

In the example above we used the `idx` logical vector (technically, a Series object) for selecting subjects with sugar consumption above 200. Notice also how we selected all the columns by simply omitting providing anything after the comma in `df.loc[idx, ]`.

Somewhat confusingly, pandas allows to select rows with a logical index with the following syntax as well:

In [26]:
# alternative way to select rows based on logical values
df[idx]

              LDL_levels Planet     Planet2  Exercise  Sugar_Consumption
Individual
Patient_6     152.185939  Earth       Earth  1.198628         286.614008
Patient_95    155.726779  Earth       Earth  1.350736         259.380105
Patient_186   141.225017  Earth       Earth  1.077019         309.699533
Patient_448   159.392405  Earth       Earth  0.182044        1679.358706
Patient_538   165.577934  Earth       Earth  1.520243         234.193831
Patient_548   160.912259  Earth       Earth  1.212457         277.634511
Patient_809   149.057433  Venus       Venus  0.647880         483.979589
Patient_931   136.778379  Venus       Venus  0.121556        2494.292378
Patient_1319  132.482512  Venus  Venus_moon  0.914282         350.601316
Patient_1486  139.669070  Venus  Venus_moon  1.229823         269.748737

As we can see, the expression `df[idx]` will work in one of these two cases:
- if idx is a list or Series with logical values with length equal to the number of rows

or

- if idx is a single string / list of strings corresponding to columns in the data frame

***

Until now we have learned how to access information within a data frame. Can we also modify it?

In [13]:
# accessing a single value in a data frame
df.loc['Patient_6', 'Sugar_Consumption']

KeyError: 'Sugar_consumption'

In [ ]:
# modifying a single value in a data frame
df.loc['Patient_6', 'Sugar_consumption'] = 250
df.loc['Patient_6', 'Sugar_consumption']

The answer is yes, as demonstrated above. We can also change several value at once. Let's say that we want to cap all sugar consumption values above 200:

In [ ]:
# recall that idx already identifies all patients with more than 200 in sugar consumption
df.loc[idx, 'Sugar_consumption']

In [ ]:
# setting 200 as a limit for sugar consumption
df.loc[idx, 'Sugar_consumption'] = 200
df.loc[idx, 'Sugar_consumption']

In [ ]:
# we can also set different values for each subjet
df.loc[idx, 'Sugar_consumption'] = [191, 192, 193, 194, 195, 196, 197, 198, 199, 200]
df.loc[idx, 'Sugar_consumption']

Adding a new column is also possible. Let's create a new Series oobject that indicates where LDL levels are excessively high, e.g., above 120

In [ ]:
# high levels of LDL
high_LDL = df['LDL_levels'] > 120
high_LDL

We can add this new column to `df` with the following command:

In [ ]:
# adding one more column
df['High_LDL_levels'] = high_LDL
df

The same command would work if `high_LDL` were a simple list rather than a Series object.